body {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: relative;
  display: flex;
  justify-content: center;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 50px;
  text-decoration: none;
  font-family: 'Space Mono', monospace;
}

nav a:hover{
  background-color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start; 
  height: 100vh;
}

.container1 {
  display: flex;
  justify-content: center;
  margin-top: -300px;
}

.textarea, .photo {
  align-items: center; 
}

.textarea {
  width: 50%;
  padding: 20px;
  box-sizing: border-box; 
}

.photo {
  width: 50%;
}

main {
  font-family: Helvetica, sans-serif;
  padding: 10px;
}

h1, h2 {
  font-family: 'Space Mono';
  margin: 0;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;

}

.photo img {
  transform: scale(0.3);
}

.textarea {
  flex: 70%;
  padding: 20px;
  box-sizing: border-box;
}

.photo {
  flex: 30%; 
}

.knoppen {
  margin-top: -200px;
  display: flex;
  justify-content: space-between;
}

.content {
  flex-basis: calc(33.33% - 20px);
  padding: 10px;
  border: none;
  margin: 15px;
  text-align: center;
  font-family: Helvetica, sans-serif;
  background-color: white;
  box-shadow: 2px 2px grey;
  border-radius: 1rem;
}

.content button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  box-shadow: 2px 2px grey;
  border-radius: 1rem;
}

footer {
  background-color: #333;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  align-items: center;
}
.footercol1, .footercol2 {
  flex-basis: 50%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Space Mono';
}

footer a:hover, footer a:visited, footer a:active, footer a:link{
  color: white;
  text-decoration: none;
}